.input-form{
    width: 37.75rem;
    height: 2.813rem;

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    border: 1px solid #CBD5E1;

    font-size: 16px;
    color: #0F172A;
    outline: none;

    padding: 16px 12px;
}

.input-form::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
    
}

.input-form input:focus {
  border-color: #3B82F6;
}

.label-form{
    margin-bottom: .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #334155;
    gap: 12px;
}

.required{
    color: #EF4444;
}