.ul-form li{
    flex: 1;
    display: flex;
}

.ul-form li a {
    width: 100%;
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #64748B;
    transition: all 0.2s ease;
}

.ul-form li a.active {
    color: #3B82F6;
    border-bottom: 2px solid #3B82F6;
}
